/* Reset Stylesheet */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  background-color: #FBFBFF;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: ;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #0B0500;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 16px 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*My Code*/
* {
  font-family: 'Roboto', sans-serif;
}

section {
  width: calc(100% - 32px);
  display: flex;
  justify-content: center;
  padding: 0 16px 16px 16px;
}

/*HEADER*/
header {
  background-color: #FBFBFF;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 0.5px #b3b3b3;
}

header .header-brand {
  height: 24px;
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}


header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

header ul li a {
  font-family: 'Montserrat', sans-serif;
  display: block;
  padding-right: 20px;
  text-transform: capitalize;
  font-size: 16px;
  text-decoration: none;
  color: #0B0500;
}

header ul li a:hover {
  text-decoration: underline;
  transition: 0.3s ease-out;
}

.shop-items {
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.shop-items img {
  cursor: pointer;
  margin-right: 24px;
  width: 24px;
}

@media only screen and (min-width: 1000px) {
  header {
    padding-top: 8px;
    padding-bottom: 8px;
    flex-direction: row;
    align-items: center;
  }

  header .header-brand {
    height: 48px;
    margin-left: 50px;
  }

  header nav {
    margin-left: 100px;
  }

  .shop-items {
    margin-left: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }

  .shop-items {
    height: 24px;
    margin-right: 32px;
  }
}

/*FOOTER*/
footer {
  border-top: 0.5px solid #b3b3b3;
  background-color: #FBFBFF;
  padding: 32px 0 64px 0;
}

footer .footer {
  width: 80%;
  height: auto;
  background-color: #FBFBFF;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.footer-heading h2 {
  margin-bottom: 32px;
}

.footer-heading a {
  font-family: 'Montserrat', sans-serif;
  color: #0B0500;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-heading a:hover {
  text-decoration: underline;
  transition: 0.3s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 32px;
}

#my-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#mail {
  width: 250px;
  height: 40px;
  outline: none;
  border: solid 0.5px #000;
  padding-left: 8px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border-radius: 6px;
  background-color:#FBFBFF;;
  margin: 0;
}

#join {
  margin: 0;
  outline: none;
  padding: 1px 32px;
  height: 43px;
  background-color: #e4646d;
  border-radius: 6px;
  border: solid 0.5px #000;
  border-left: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #FBFBFF;
  margin-top: 8px;
}

#join:hover {
  cursor: pointer;
  background-color: #DA2C38;
  transition: all 0.4s ease-out;
}

/*INDEX*/
.index-banner {
  width: 100%;
  margin-top: 16px;
  background: url(assets/soon.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.index-banner h1 {
  font-size: 32px;
  color: #FBFBFF;
  text-align: center;
  margin-bottom: 16px;
}

.index-banner p {
  color: #FBFBFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.vision-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.vision-image {
  margin: 32px;
  background-image: url(assets/vision.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
}

.vision-item {
  padding: 32px;
  line-height: 21px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: span 2;
}

.vision-item h2 {
  font-size: 32px;
  margin-bottom: 32px;
}

.vision-item p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.collections-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.coll-item {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: span 3;
}

.coll-item img {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  object-fit: contain;
  height: auto;
}

.coll-item img, h2, p {
  margin-bottom: 16px;
}

.coll-item h2 {
  font-weight: 500;
}

.coll-item p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
  width: 80%;
}

@media only screen and (min-width: 1000px) {
  .index-banner h1 {
    margin-left: 32px;
    font-size: 64px;
    margin-bottom: 32px;
  }

  .index-banner p {
    font-size: 24px;
    margin-left: 32px;
    margin-bottom: 32px;
  }

  .coll-item {
    grid-column: span 1;
  }

  .vision-item {
    grid-column: span 1;
  }

  .coll-item img {
    width: 80%;
  }

  #mail {
    border-radius: 6px 0 0 6px;
  }

  #join {
    margin-top: 0;
    border-radius: 0 6px 6px 0;
  }
}

/*SUPPORT*/
.support-grid {
  width: 100%;
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.support-div {
  padding: 32px;
  grid-column: span 2;
}

.support-div h3 {
  margin-bottom: 16px;
}

.support-div p {
  line-height: 24px;
}

.support-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FBFBFF;
  background: url(assets/support.jpg);
  background-size: cover;
}

.support-statement h2 {
  text-align: center;
}

.support-statement p {
  text-align: center;
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 80%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 8px;
  border: solid 0.5px #0B0500;
  outline: none;
  margin-bottom: 16px;
}

.form p {
  width: calc(80% + 16px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form p select {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 16px;
  width: 100%;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiNiYmIiPjxwYXRoIGQ9Ik02IDlsNiA2IDYtNiIvPjwvc3ZnPg==) !important;
  background-repeat: no-repeat !important;
  background-position-x: 100% !important;
  background-position-y: 50% !important;
  padding: 8px;
  border: 0.5px solid #0B0500;
  border-radius: 0px;
  color: #0B0500;
}

.form textarea {
  resize: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 8px;
  width: 80%;
  height: 320px;
  margin-bottom: 16px;
  overflow-x: hidden;
}

.form button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  outline: none;
  border: 1px solid #0B0500;
  background-color: #FBFBFF;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px;
  width: 50%;
}

.form button:hover {
  opacity: 0.6;
}

.support-div img {
  height: 32px;
  filter: invert(100%);
}

.support-div p {
  font-family: 'Montserrat', sans-serif;
}

#faq {
  grid-column: span 2;
}

@media only screen and (min-width: 1000px) {
  .support-div {
    grid-column: span 1;
  }

  .support-statement h2 {
    font-size: 24px;
  }

  .support-statement p {
    font-size: 16px;
  }

  .support-statement img {
    height: 48px;
    margin-left: 16px;
  }
}

/*ABOUT US*/
.gallery {
  padding-top: 32px;
  padding-bottom: 32px;
  width: calc(100% - 32px);
  padding-left: 16px;
  padding-right: 16px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.our-story {
  padding: 32px;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-story h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.our-story p {
  width: 80%;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 16px;
}

.about-images {
  height: 200px;
  width: auto;
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-images p {
  color: #FBFBFF;
  font-size: 24px;
}

.image-1 {
  background: url(assets/a.jpg);
}

.image-2 {
  background: url(assets/b.jpg);
}

.image-3 {
  background: url(assets/c.jpg);
}

.image-4 {
  background: url(assets/d.jpg);
}

.image-5 {
  background: url(assets/e.jpg);
}

.background-image-div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 1000px) {
  .about-images {
    grid-column: auto;
  }

  .image-1 {
    grid-column: span 2;
  }

  .our-story {
    grid-column: span 2;
    grid-row: span 3;
  }
}

/*PRODUCTS*/
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
  margin-top: 16px;
  width: 100%;
}

.product-thumb {
  background-image: url(assets/leather-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 80%;
}

.item-2 {
  background-image: url(assets/silicone-1.jpg);
}

.item-3 {
  background-image: url(assets/watercolour-1.jpg);
}

.product-item {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: span 3;
}

.product-item p {
  font-family: 'Montserrat', sans-serif;
  margin-top: 16px;
  font-weight: 500;
  text-align: center;
}

.product-item a {
  text-decoration: none;
  color: #0B0500;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  outline: none;
  text-transform: capitalize;
  border: solid 1px #0B0500;
  font-size: 14px;
  padding: 10px;
}

.product-item a:hover {
  cursor: pointer;
  background-color: #e4646d;
  transition: all 0.4s ease-out;
}

@media only screen and (min-width: 1000px) {
  .product-item {
    grid-column: span 1;
  }

  .product-item a {
    padding: 10px 32px 10px 32px;
  }
}

/*Products Feature*/
.feature-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 16px;
}

.feature-img {
  width: 100%;
  grid-column: span 2;
}

.feature-desc {
  line-height: 21px;
  font-size: 16px;
  grid-column: span 2;
  padding: 32px;
}

.feature-item select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiNiYmIiPjxwYXRoIGQ9Ik02IDlsNiA2IDYtNiIvPjwvc3ZnPg==) !important;
  background-repeat: no-repeat !important;
  background-position-x: 100% !important;
  background-position-y: 50% !important;
  padding: 8px;
  border: 0.5px solid #b3b3b3;
  border-radius: 0px;
  color: #0B0500;
}

.feature-item input {
  width: 20%;
  font-size: 16px;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
  border: 0.5px solid #b3b3b3;
  color: #0B0500;
  width: 32px;
}

.feature-item label {
  display: flex;
  margin-bottom: 8px;
  flex-direction: column;
}

.feature-item h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.feature-item h3 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 32px;
}

.feature-item p {
  margin-top: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.feature-item button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  outline: none;
  border: 0.5px solid #0B0500;
  background-color: transparent;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  min-width: 200px;
  width: 100%;
}

.feature-item button:hover {
  cursor: pointer;
  background-color: #e4646d;
  transition: all 0.4s ease-out;
}

@media only screen and (min-width: 1000px) {
  .feature-grid {
    width: 80%;
  }

  .feature-img {
    width: 530px;
    height: 530px;
    grid-column: span 1;
  }

  .feature-desc {
    grid-column: span 1;
  }

  .feature-item select {
    width: 30%;
    min-width: 300px;
  }

  .feature-item input {
    min-width: 40px;
  }
}

/*SNIPCART*/
#snipcart {
   --bgColor-modal: rgb(255,255,255);
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
}

.snipcart-signin__box {
  border: 0.5px solid #b3b3b3;
}
