/* Reset Stylesheet */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 16px 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*My Code*/
* {
  font-family: 'Roboto', sans-serif;
}

body {}

section {
  width: calc(100% - 32px);
  display: flex;
  justify-content: center;
  padding:0 16px 16px 16px;
}

/*HEADER*/
header {
  background-color: #fff;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 0.5px #b3b3b3;
}

header .header-brand {
  height: 32px;
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

header ul li a {
  font-family: 'Montserrat', sans-serif;
  display: block;
  padding-right: 20px;
  text-transform: capitalize;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

header ul li a:hover {
  text-decoration: underline;
  transition: 0.3s ease-out;
}

.shop-items {
  justify-content: center;
  align-items: center;
}

.shop-items a img {
  height: 24px;
}

@media only screen and (min-width: 1000px) {
  header {
    flex-direction: row;
    align-items: center;
  }

  header .header-brand {
    height: 48px;
    margin-left: 50px;
  }

  header nav {
    margin-left: 100px;
  }

  .shop-items {
    margin-left: auto;
    justify-content: flex-start;
    align-items: center;
  }

  .shop-items a img {
    height: 32px;
    margin-right: 32px;
  }
}

/*FOOTER*/
footer {
  border-top: 0.5px solid #b3b3b3;
  background-color: #fff;
  padding: 32px 0 64px 0;
}

footer .footer {
  width: 80%;
  height: 40vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.footer-heading h2 {
  margin-bottom: 32px;
}

.footer-heading a {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-heading a:hover {
  text-decoration: underline;
  transition: 0.3s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 32px;
}

#footer-email {
  width: 250px;
  height: 40px;
  outline: none;
  border: solid 0.5px #000;
  padding-left: 8px;
  font-size: 16px;
  margin-bottom: 16px;
}

#footer-email-btn {
  width: 103px;
  padding: 1px;
  height: 42px;
  background-color: #fff;
  outline: none;
  border: solid 0.5px #000;
  color: #343F4B;
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

#footer-email-btn:hover {
  cursor: pointer;
  background-color: #f9423d;
  transition: all 0.4s ease-out;
}

/*INDEX*/
.index-banner {
  width: 100%;
  margin-top: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(assets/soon.jpg);
  background-position: center middle;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.index-banner h1 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.index-banner p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.vision-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.vision-image {
  margin: 32px;
  background-image: url(assets/d.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
}

.vision-item {
  padding: 32px;
  line-height: 21px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: span 2;
}

.vision-item h2 {
  font-size: 32px;
  margin-bottom: 32px;
}

.collections-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.coll-item {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: span 3;
}

.coll-item img {
  margin-left: 0;
  margin-right: 0;
  width: 300px;
}

.coll-item img,h2,p {
  margin-bottom: 16px;
}

.coll-item h2 {
  font-weight: 500;
}

.coll-item p {
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
}

.coll-item button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  outline: none;
  border: solid 1px #000;
  background-color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px;
}

.coll-item button:hover {
  opacity: 0.6;
}

@media only screen and (min-width: 1000px) {
  .index-banner h1 {
    margin-left: 32px;
    font-size: 64px;
    margin-bottom: 32px;
  }

  .index-banner p {
    font-size: 24px;
    margin-left: 32px;
    margin-bottom: 32px;
  }

  .coll-item {
    grid-column: span 1;
  }

  .vision-item {
    grid-column: span 1;
  }
}

/*SUPPORT*/
.support-grid {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.support-div {
  background-color: red;
  grid-column: span 2;
  padding: 32px;
}

.support-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.support-div img {
  height: 32px;
}

.support-div p {
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 1000px) {
  .support-div {
    grid-column: span 1;
  }
}

/*ABOUT US*/
.gallery {
  padding-top: 32px;
  padding-bottom: 32px;
  width: calc(100%-32px);
  padding-left: 16px;
  padding-right: 16px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.our-story {
  padding: 32px;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #A3D9FF;
}

.our-story h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.our-story p {
  width: 80%;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 16px;
}

.about-images {
  height: 200px;
  width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: span 4;
}

.image-1 {
  background-image: url(assets/a.jpg);
}

.image-2 {
  background-image: url(assets/b.jpg);
}

.image-3 {
  background-image: url(assets/c.jpg);
}

.image-4 {
  background-image: url(assets/d.jpg);
}

.image-5 {
  background-image: url(assets/e.jpg);
}

@media only screen and (min-width: 1000px) {
  .about-images {
    grid-column: auto;
  }

  .image-1 {
    grid-column: span 2;
  }

  .our-story {
    grid-column: span 2;
    grid-row: span 3;
  }

}

/*PRODUCTS*/

}
