/* Reset Stylesheet */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*My Code*/
* {
  font-family: 'Playfair Display', serif;
}

body {}

section {
  width: calc(100%-2rem);
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/*HEADER*/
header {
  background-color: #fff;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .header-brand {
  height: 1rem;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header nav {}

header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

header ul li {}

header ul li a {
  display: block;
  padding-right: 20px;
  text-transform: capitalize;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
}

header ul li a:hover {
  padding-bottom: 2px;
  transition: 0.3s ease-out;
}

.shop-items a img:hover {
  padding-bottom: 2px;
  transition: 0.3s ease-out;
}

.shop-items {
  justify-content: center;
  align-items: center;
}

.shop-items a img {
  height: 1.5rem;
}

@media only screen and (min-width: 1000px) {
  header {
    flex-direction: row;
    align-items: center;
  }

  header .header-brand {
    height: 1.5rem;
    margin-left: 50px;
  }

  header nav {
    margin-left: 100px;
  }

  .shop-items {
    margin-left: auto;
    justify-content: flex-start;
    align-items: center;
  }

  .shop-items a img {
    height: 2rem;
    margin-right: 2rem;
  }
}

/*FOOTER*/
footer {
  background-color: #fff;
  padding: 2rem 0 4rem 0;
}

footer .footer {
  width: 80%;
  height: 40vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.footer-heading h2 {
  margin-bottom: 2rem;
}

.footer-heading a {
  color: #000;
  text-decoration: none;
  margin-bottom: 1rem;
}

.footer-heading a:hover {
  margin-left: -2px;
  transition: 0.3s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: solid 0.1px #000;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#footer-email-btn {
  width: 100px;
  height: 44px;
  border-radius: 4px;
  background-color: #F95F62;
  outline: none;
  border: none;
  color: #343F4B;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#footer-email-btn:hover {
  cursor: pointer;
  background-color: #f9423d;
  transition: all 0.4s ease-out;
}

/*INDEX*/
.index-banner {
  width: 100%;
  border-radius: 20px;
  background-image: url(assets/index-banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
}

.index-banner h2 {
  margin-left: 1rem;
  font-size: 2rem;
  text-align: center;
  width: 50%;
  margin-bottom: 1rem;
}

.index-banner p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-left: 1rem;
  width: 50%;
  text-align: center;
  margin-bottom: 1rem;
}

.shop-now {
  margin-left: 10%;
  background-color: #F95F62;
  width: 200px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-now a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  color: #343F4B;
  padding: 20px;
  text-align: center;
}

.shop-now:hover {
  background-color: #f7262a;
  transition: 0.5s;
}

.collections {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.collections-div {
  flex-basis: 33.33%;
  margin: 0 auto 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
}

.collections-div a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  margin-bottom: 2rem;
}

.collections-div a:hover {
  padding-bottom: 2px;
  transition: ease 0.2s;
}

.no-1 {
  background-image: url(assets/one.png);
}

.no-2 {
  background-image: url(assets/plus.png);
}

.no-3 {
  background-image: url(assets/style.png);
}

@media only screen and (min-width: 1000px) {
  .index-banner h2 {
    margin-left: 2rem;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .index-banner p {
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}

/*SUPPORT*/
.support-section {
  background-image: url(assets/support.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.support-statement {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.support-statement h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.support-statement p {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-container a img {
  width: 50px;
  margin-right: 20px;
}

.support-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.support-div form {
  width: 80%;
  padding: 20px;
}

.support-div form p {
  font-size: 1rem;
  width: 100%;
}

.support-div form select {
  font-size: 1rem;
  margin-left: 1rem;
}

.support-div form input {
  width: 100%;
  margin-top: 1rem;
  padding: 5px;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  resize: none;
  border: solid 0.1px #000;
  outline: none;
}

.support-div form textarea {
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  margin-top: 1rem;
  height: 14rem;
  width: 100%;
  font-size: 1rem;
  resize: none;
  border: solid 0.1px #000;
  outline: none;
}

.support-div form button {
  height: 44px;
  border-radius: 4px;
  background-color: #F95F62;
  outline: none;
  border: none;
  color: #343F4B;
  width: 200px;
  font-size: 1rem;
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.support-div form button:hover {
  cursor: pointer;
  background-color: #f9423d;
  transition: all 0.4s ease-out;
}

.support-div {
  margin-top: 1rem;
  height: auto;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  background: #fff;
}

.support-div h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.support-div p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0.5rem 0;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
}

.support-div h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0;
  width: 80%;
}

.support-div form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .support-statement {
    width: 100%;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .support-statement h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .support-statement p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .contact-container a img {
    width: 80px;
    margin-right: 20px;
  }

  .support-div form p {
    font-size: 1.2rem;
    width: 100%;
  }

  .support-div form select {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .support-div form input {
    width: 100%;
    margin-top: 0.5rem;
  }

  .support-div form textarea {
    margin-top: 1rem;
    height: 14rem;
    width: 100%;
    font-size: 1rem;
    resize: none;
    border: solid 0.1px #000;
    outline: none;
  }

  .support-div form button {
    margin-top: 1rem;
    width: 200px;
    font-size: 1rem;
    border-radius: 8px;
    border: solid 0.1px #000;
    outline: none;
  }

  .support-div {
    width: 80%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    background: #fff;
  }
}

/*ABOUT US*/
.gallery {
  background-image: url(assets/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: calc(100%-2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr, 200px, 200px;
  grid-gap: 10px;
}

.our-story {
  background-color: #fff;
  padding: 1rem;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: auto;
}

.our-story h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.our-story p {
  width: 80%;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.about-images {
  border-radius: 20px;
  height: 200px;
  width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-1 {
  background-image: url(assets/a.jpg);
  height: auto;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.image-2 {
  background-image: url(assets/b.jpg);
}

.image-3 {
  background-image: url(assets/c.jpg);
}

.image-4 {
  background-image: url(assets/d.jpg);
}

.image-5 {
  background-image: url(assets/e.jpg);
}

/*PRODUCTS*/
.products-body {
  background-image: url(assets/support.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 1em;
}

.filters p {
  margin-left: 1em;
}

.products {
  width: calc(100% -2rem);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 1rem;
  margin-right: 1rem;
}

.product-1 {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-thumb {
  background-image: url(assets/product.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 10rem;
  width: 10rem;
}

.product-1 p {
  margin-top: 1em;
}

.product-1 button {
  margin-top: 1em;
  width: 100px;
  height: 44px;
  border-radius: 4px;
  background-color: #F95F62;
  outline: none;
  border: none;
  color: #343F4B;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.product-1 button:hover {
  cursor: pointer;
  background-color: #f9423d;
  transition: all 0.4s ease-out;
}


.colors li {
  margin: 0 5px 0 0;
  display: inline-block;
}

.colors label {
  cursor: pointer;
}

.colors input {
  display: none;
}

.colors input[type="radio"]:checked+.swatch {
  border: solid 1px #fff;
}

.swatch {
  display: inline-block;
  vertical-align: middle;
  margin-top: 1em;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  border: solid 1px #000;
}

@media only screen and (min-width: 1000px) {
  .products{
    grid-template-columns: repeat(4, 1fr);
  }
}
